<div class="row justify-content-center align-items-center">
    <div class="modal-header" style="width:100%">
        <strong>
            <h1 id="fuente">Juegos alquilados</h1>
        </strong>
    </div>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <td id="documento"><input type="text" class="form-control" placeholder="Digitar No Identificacion"
                    name="seleccionar" [(ngModel)]="seleccionar" id="identificacion"></td>
            <td> <button class="btn btn-secondary  btn-block" (click)=" consultarbalance()">Consultar</button></td>
        </div>
        <div class="col-md-2"></div>

        <div class="col-md-5">

        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger">
            <thead>
                <tr>
                    <th scope="col">Identificacion</th>
                    <th scope="col">Nombre completo</th>
                    <th scope="col">Juego</th>
                    <th scope="col">Tipo de tecnologia</th>
                    <th scope="col">Fecha entrega</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Juegos of Juegos ">
                    <td>{{Juegos.PKIdentificacion}}</td>
                    <td>{{Juegos.Nombre_Completo}}</td>
                    <td>{{Juegos.Nombre}}</td>
                    <td>{{Juegos.Descripcion}}</td>
                    <td>{{Juegos.Fecha_Alquiler | date:'MM/dd/yyyy'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>