<div style="font-size: 0.9rem !important">
    <div class="card-header">
        <h1 id="fuente">
            Cliente mas frecuente
        </h1>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md 12">
                <table class="table table-striped table-bordered table-sm row-border hover" datatable
                    [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th scope="col">Identificacion</th>
                            <th scope="col">Nombre completo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let clientes of clientes ">
                            <td>{{clientes.PKIdentificacion}}</td>
                            <td >{{clientes.Nombre_Completo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>